@import "icons";

@font-face {
  font-family: Popular;
  src: url(../font/2211.ttf);
}

body {
  margin: 0;
  color: #888;
  font-size: 16px;
  font-family: Popular, sans-serif;
}

section {
  background: url("../img/fon.jpg");
  padding-top: 80px;
  //background: #333333;
}

.content {
  background: white;

  .content_title {
    color: #333333;
    padding-left: 15px;
  }

  .content_text {
    display: inline-block;
    padding-bottom: 20px;
  }

  a {
    text-decoration: none;
  }

  .icon-vk,
  .icon-github {
    font-size: 60px;
    color: #333333;
    display: inline-block;
    padding-right: 5px;
  }

  .circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
  }

  .circle_width {
    width: 100%;
  }

  .circle_height {
    height: 100%;
  }
}


